:root {
   /* 
   --clr-primary: hsl(229 33% 21%);
    --clr-secondary: #302047;
    --clr-accent: hsl(21deg 85% 60%); 
   */
   --clr-primary: #0c4d8f;
    --clr-secondary: #377e7b;
    /*--clr-accent: #3dbeba;*/
    --clr-accent: #277c79;
    --clr-shout: #f7be18;
    --clr-secondaryAccent: #e0643d;
    --clr-white: #ffffff;
    --clr-babyBlue: #bce3f2;
   
    --wrapper-padding-inline: 1rem;
    --wrapper-max-width: 55rem;
    --section-padding-block: 3rem;


    --ff-primary: Helvetica, sans-serif;

   --fw-100:100;
   --fw-200:200;
   --fw-300:300;
   --fw-400:400;
   --fw-500:500;
   --fw-600:600;
   --fw-700:700;
   --fw-800:800;
   --fw-900:900;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  }
  
  body {
    margin: 0;
    font-family: system-ui;
    font-weight: var(--fw-500);
    font-size: 1.185rem;
    line-height: 1.7;
    color: white;
    background-color: var(--clr-babyBlue);
    background-blend-mode: multiply;
  }
  

  img {
    max-width: 100%;
    display: block;
  }
  
  h1 {
    font-size: clamp(3rem, 10vw, 5rem);
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  
  section {
    padding-block: var(--section-padding-block);
  }
  
  .primary {
    color: white;
    background-color: var(--clr-primary);
  }
  
  .secondary {
    color: white;
    background-color: var(--clr-accent);
  }
  
  .accent {
    background-color: var(--clr-accent);
  }

  .super{
    background-color: var(--clr-super);

  }
  
  .shout{
    background-color: var(--clr-shout);
  }
  .button {
    display: inline-flex;
    padding: 0.75em 1.5em;
    background: var(--clr-shout);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875em;
  }
  
  .button:hover,
  .button:focus {
    background-color: var(--clr-accent);
  }
  .logoHeader{
    display: inline;
  }

  .logoHeader p{
    margin-top: -1.4em;
    text-align: center;
    font-size: 2.4em;
    font-style: italic;
    color: #0c4d8f;
  }
  .wrapper {
    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding-inline);
    display: flex;
    flex-direction: column;
  }

  
  /* remove the padding so images can take up the entire height */
  .full-width-split-screen {
    padding-block: 0;
  }
  
  /* match the section padding for the text blocks for
  consistency */
  .full-width-split-screen > :not(img) {
    padding-block: var(--section-padding-block);
    padding-inline: var(--wrapper-padding-inline);
  }
  
  @media (min-width: 600px) {
    .full-width-split-screen {
      /* outermost columns emulate the spacing from the .wrapper
       while the two inner columns divide the rest of the space
       into two equal parts */
      display: grid;
      grid-template-columns:
        minmax(var(--wrapper-padding-inline), 1fr)
        minmax(0, calc(var(--wrapper-max-width) / 2))
        minmax(0, calc(var(--wrapper-max-width) / 2))
        minmax(var(--wrapper-padding-inline), 1fr);
  
      /* for positioning the pseudo-elements
         to fill in the rest of the background*/
      position: relative;
    }
  
    /* ensure the image fill up the entire space available */
    .full-width-split-screen > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    /* if the image is on the left, it covers the entire left half */
    .full-width-split-screen > img:first-child {
      grid-column: 1 / 3;
    }
  
    /* if the image is on the right, it covers the entire right half */
    .full-width-split-screen > img:last-child {
      grid-column: 3 / -1;
    }
  
    /* make sure text doesn't touch the edge of the viewport 
     and the content is vertically centered */
    .full-width-split-screen > :not(img) {
      display: grid;
      align-content: center;
      justify-items: start;
    }
  
    /* if the non-image is first, place it in the second column
       (first column is empty to emulate the .wrapper) */
    .full-width-split-screen > :not(img):first-child {
      padding-left: 0;
      grid-column: 2 / 3;
    }
  
    /* if the non-image is last, place it in the third column
       (fourth column is empty to emulate the .wrapper) */
    .full-width-split-screen > :not(img):last-child {
      padding-right: 0;
      grid-column: 3 / 4;
    }
  
    /* at large screens, ensure the background color
       goes to the edge of the page */
    .full-width-split-screen > :not(img)::before {
      content: "";
      position: absolute;
      inset: 0;
      background: inherit;
    }
  
    /* ensures the background color fills the entire left side */
    .full-width-split-screen > :not(img):first-child::before {
      grid-column: 1 / 2;
    }
  
    /* ensures the background color fills the entire right side */
    .full-width-split-screen > :not(img):last-child::before {
      grid-column: 4 / 5;
    }

    
  }
  
  .yt {
    --shadow-color: 282deg 10% 10%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    text-decoration: none;
    color: hsl(282 80% 20%);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75em 1.25em;
    background-image: linear-gradient(to right, red, purple, blue 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 350ms;
    box-shadow: 0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.05),
      -1.5px 2.2px 3.8px -0.1px hsl(var(--shadow-color) / 0.19),
      -3.1px 4.5px 7.9px -0.3px hsl(var(--shadow-color) / 0.33),
      -6.4px 9.5px 16.5px -0.4px hsl(var(--shadow-color) / 0.47);
  }
  
  .yt:hover,
  .yt:focus {
    color: white;
    background-position: left;
  }
  
  .staff-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }

  .staff{
    background-color: var(--clr-accent);
    color:var(--clr-white);
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);

  }

  .staff-grid :nth-of-type(1){
    font-weight: var(--fw-500);
    grid-column: 1/3;
  }

  .staff-grid article:nth-last-of-type(11) {
    grid-column: 1 / 3;
  }

  .staff-grid article:nth-last-of-type(7) {
   background-color: var(--clr-shout);
  }

  .staff-grid article:nth-last-of-type(8) {
    background-color: var(--clr-shout);
   }

  .staff-grid :nth-last-of-type(12){
    grid-column: 1 -1;
   
     
  }
   

  .staff > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .staff > p:last-of-type {
    opacity: 0.7;
    font-size: var(--fs-600);

  }

  .staff .name{
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: 1;
  }
  .staff .title{
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    opacity: 0.9;
  }
  .staff img {
    box-sizing: content-box;
  }
    .flex{
    display: flex;
    gap: var(--gap, 1rem);
  }

  .cde{
      background-color: var(--clr-secondaryAccent);
      color:var(--clr-white);
      font-size: var(--fs-500);
      font-weight: var(--fw-400);
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  
    }
  .coach{
    color:var(--clr-primary);
  }
 
  footer{
    width: 100%;
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
    padding:10 2%;
    background-color:var(--clr-white);
}
.footer-text {
  font-size: 1.025rem;
  padding-left: 2em;
  padding-right: 2em;
color:var(--clr-primary);
display: flex;
justify-content: space-around;
}

footer img{
  display: flex-start;
  justify-content: space-around;
  width:150px;
 
}