---

const currentYear = new Date().getFullYear()
---
<section class="">
  <div class="wrapper">
    <p>© 2023 The contents of this document were developed through a federally funded State Personnel Development Grant (SPDG), provided from the U.S. Department of Education, Office of Special Education Projects, Part D of the Individuals with Disabilities Education Act (IDEA), #H322A220004, Project Officer sunyoung.Ahn@ed.gov. The SPDG funds are competitively awarded to the California Department of Education, Special Education Division and administered by the Napa County Office of Education – Research and Professional Development Center. The contents of this site do not necessarily represent the policy of the US Department of Education and no assumption of endorsement by the Federal government should be made.</p>
  </p>

</section>
<footer >
   
        <div><img src="/images/CDELogo.webp" alt="California Department of Education"></div>
        <div><img src="/images/DDSLogo.webp" alt="California Department of Developmental Service"></div>
        <div><img src="/images/napaLogo.webp" alt="Napa County Office of Education"></div>
        <div><img src="/images/OSEPLogo.webp" alt="Office of Special Education Programs (OSEP) "></div>
    

    
  </footer>
</div>
<style>
footer{
  font-size: .67em;
  line-height: 124%;
}
 footer a:link, a:active, a:visited{
  color:var(--AliceBlue)
 }

 footer a:hover{
  color: var(--SaftyOrange);
 }

  
</style>