---


---
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/staff">Staff</a></li>
    </ul>
</nav>

<style>
 nav ul > li{
    display:  inline;
    float: right;
    
   
 }

 nav li{
    margin-right:20px;
 }
nav a:link{
    color: var(--clr-primary);
    text-decoration: none;
}
nav a:visited{
    color:var(--clr-primary);
}

nav a:hover{
    color:var(--clr-shout);
}

</style>