--- 

import Navigation from '../components/Navigation.astro';
interface Props {
	title: string;
}


import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/images/pepti.ico" />
		<link id="theme" rel="stylesheet" 
		type="text/css" href="/css/style.css" />		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body>
			<Navigation />
    <div class="content">
		<div class="layout-container">
			<main>
			<slot />    
		</main>
		
		<aside>
			
			<slot name='sideslot'>
				
			
		  </aside>
		</div>
	</div>
	</body>
</html>

<style>

.layout-container {
    
    display: grid;
    grid-template-columns: auto 15%;
    /*grid-template-columns: auto 300px;*/
    grid-column-gap: 12px;
 }
  
main {
        background-color: var(--AliceBlue);
    flex: 3;
    box-shadow: 10px 10px 25px rgb(218, 215, 215);
}
aside {
    flex: 1;
    overflow: display;
	
    }

</style>

